*{
    padding: 0;
    margin: 0;
    font-family: 'Great Vibes', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
}
body{
    background: #666;
}
.container{
    width: 100%;
    background: #E8FBFF;
}
.container__top{
    height: 200px;
    width: 400px;

    margin: auto;
}

.container__top h2{
    background: -webkit-linear-gradient(#0A77CB, #49D5DF, #3840EF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    
    font-family: 'Great Vibes', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 55px;
}
.container__top p{
    font-size: 70px;
    text-align: justify;
    text-align: center;
    background: -webkit-linear-gradient(#0A77CB, #49D5DF, #3840EF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    line-height: 40px;
    padding-top: 10px;
}
.container__top p span{
    font-size: 30px;


}
.container__top2{
   
}
.container__top2-group{
    height: 198px;
    width: 1110px;
    background: #fff;
    margin: auto;
    border-radius: 100px;
    display: flex;
    margin-bottom: 50px;

}
.container__top2-group-item{
    height: 90%;
    margin: auto;
    /* background: violet; */

   

}
.container__top2-group-item1{
    width: 20%;
    background: -webkit-linear-gradient(#0A77CB, #49D5DF, #3840EF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 120px;
    line-height: 178.188px;
    font-weight: 600;
    font-style: italic
}
.container__top2-group-item2{
    width: 5%;
    
}
.container__top2-group-item3{
    width: 70%;
}
.container__top2-group-item2-hr{
    height: 90%;
    width: 3px;
    background: -webkit-linear-gradient(#0A77CB, #49D5DF, #3840EF);
    transform: rotate(10deg);

}
.container__top2-group-item3{
  
    height: 75%;
}
.container__top2-group-item3 h2{
    text-transform: uppercase;
    background: -webkit-linear-gradient(#0A77CB, #49D5DF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container__top2-group-item3 p{
    font-size: 18px;
    color: #5A5A5A;
    padding-top: 10px;
}
.container__top2-group-item3 li{
    padding-left: 15px;
}
.li-top{
    padding-top: 10px;
}
.container__top2-group-item-text{
    background: red;
}
.container__top2-group-item3-group{
    height: 80px;
    /* background-color: #0A77CB; */
    width: 95%;
    display: flex;
}
.container__top2-group-item3-group-p{
    margin: auto;
  
}
.container__top2-group-item3-group-p li{
    background: -webkit-linear-gradient(#0A77CB, #49D5DF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    padding: 5px 0;
    
}
.container__top3{
    height: 200px;
    width: 100%;
    border: 1px dashed #0A77CB;
    border-left: none;
    border-right: none;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 200px;
    background: -webkit-linear-gradient(#0A77CB, #49D5DF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin-top: 200px;
}

.container__top4{
    height: 700px;
    width: 70%;
    /* background: skyblue; */
    margin: auto;
    
}

.container__top4-logo{
    height: 242px;
    width: 212.2px;
    margin: auto;
    margin-top: 100px;
    /* background: red; */
    padding-top: 150px;
    padding-bottom: 80px;
    
}
.container__top4-logo-img{
    height: 100%;
    width: 100%;
    background-image: url(./img/Group\ 923.png);
    background-position: center;
    background-size: cover;
}
.container__top4-logo p{
    font-size: 18px;
    text-align: justify;
}

.container__top5{
    width:1110px;
    height: 1288px;
    background: #fff;
    margin: auto;
    border-radius: 40px;
}
.container__top5 h2{
    text-align: center;
    background: -webkit-linear-gradient(#0A77CB, #49D5DF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    padding: 80px 0px;
}

.container__top5-group{
    height: 50px;
    width: 82%;
    /* background-color: red; */
    margin: auto;
    display: flex;
   margin-bottom: 20px;
    border-bottom: 2px dashed #0A77CB;
}
.container__top5-group h3{
    height: 100%;
    width: 32%;
    /* background: #3840EF; */
    margin: auto;
    background: -webkit-linear-gradient(#0A77CB, #49D5DF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 50px;
    text-align: left;
}
.container__top5-group h5{
    height: 100%;
    width: 8%;
    /* background: #292d6f; */
    margin: auto;
    text-align: center;
    line-height: 50px;


}
.container__top5-group p{
    height: 100%;
    width: 65%;
    /* background: #326f29; */
    margin: auto;
    text-align: left;
    line-height: 50px;

}
.container__top5-group li{
    height: 200px;
    display:inline;
}

.container__top6{
    height: 918px;
    width: 100%;
    background-image: url(./img/tong-quan-Mey-Smartland\ 1.png);
    background-size: cover;
    background-position: center;
    margin-top: 150px;
}
.container__top7{
    height: 300px;
}
.container__top7-p{
    width: 1288px;
    margin: auto;
    text-align: justify;
    font-size: 18px;
    margin-top: 100px;
    
}

.container__top7-group{
    height: 148px;
    width: 1288px;
    display: flex;
    margin: auto;
    margin: 50px auto;
    margin-bottom: 100px;
    
}

.container__top7-group-item{
    width: 22%;
    height: 100%;
    background: #fff;
    margin: auto;
    border-radius: 20px;
    display: flex;
}
.container__top7-group-item-text{
    height: 50%;
    margin: auto;
    
}
.container__top7-group-item-text h2, p{
   
    text-align: center;
    
}
.container__top7-group-item h2{
    text-align: center;
    background: -webkit-linear-gradient(#0A77CB, #49D5DF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container__top8{
    height: 1150px;
    width: 1288px;
    background-image: url("./img/ban-do\ 3\ \(1\).png");
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 180px;
}

.container__top9{
    height: 1000px;
    width: 100%;
    /* background: skyblue; */
    margin: auto;
    border-top: 2px dashed #0A77CB;

}
.container__top9__group{
    height: 100%;
    width: 60%;
    background-color: tomato;
    margin: auto;
}
.container__top9-title{
    margin: auto;
    text-align: center;
    font-size: 40px;
    background: -webkit-linear-gradient(#0A77CB, #49D5DF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    padding-top: 150px;
    padding-bottom: 30px;
}

.container__tops h5{
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    color: #818181;
    
}

.container__top9-form{
    height: 357px;
    width: 600px;
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
    display: flex;
    padding-bottom: 20px;
}
.container__top9-form-group{
    height: 80%;
    width: 90%;
    margin: auto;
    /* background: tomato; */
}
.container__top9-form-group input{
    padding-left: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    border: 1px solid rgba(90, 90, 90, 0.28);
}
.container__top9-form-group-item{
    width: calc(100% - 20px);
    outline: none;
    height: 18%;
}
.container__top9-form-group button{
    width: 100%;
    background: #EF4E2F;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 5px 5px #00000041;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.footer{
    height: 78px;
    width: 100%;
    background: #00589D;
    display: flex;

}
.footer__group{
    height: 100%;
    width: 65%;
    text-align: center;
    margin: auto;
    /* background: tomato; */
    line-height: 78px;
    color: #fff;
}
.footer__group2{
    text-align: left;
    /* background: #49D5DF; */
    width: 35%;
}